h1 {
	text-align: center;
}
.container {
	text-align: center;
}
textarea {
	width: 100%;
}
.heading {
	background-color: aqua;
}
.contactForm {
	border-radius: 4px;
	box-sizing: border-box;
	margin: auto;
	max-width: 450px;
	overflow: hidden;
}
.formBody {
	background: $white;
	height: 371px;
	padding: 20px 12px;
	overflow: hidden;
	@include transition(0.2s);
}
.submitBtn {
	background: $purple;
	color: $white;
	border: none;
	border-radius: 3px;
	font: inherit;
	padding: 10px 18px;
	margin-top: 10px;
	float: right;
	width: auto;
	@include transition(0.5s, background);

	&:hover {
		background: $purple * 1.4;
	}
}
/*SUCESS STYLES*/
&.success {
	overflow: hidden;

	.formHeader {
		background: $success;
		border-color: $success / 1.2;
		font-size: .75em;
	}

	.formBody {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;

		form {
			/*TRANSITION*/
			@include transition(0.5s, opacity);

			opacity: 0;
		}
	}
}
.inputContainer.success {
	border-color: $lightSuccess / 1.1;

	&:after {
		font: 1.25em/2em FontAwesome;
		color: $lightSuccess;
		position: absolute;
		top: 0;
		right: 10px;
		content: "\f00c";
	}

	label {
		background: $lightSuccess;
		border-color: $lightSuccess / 1.1;
	}

	input,
	textarea {
		color: $success;
	}
}

.inputContainer.error {
	border-color: $error / 1.1;

	.message {
		width: 100%;
	}

	&:after {
		font: 1.25em/2em FontAwesome;
		color: $error;
		position: absolute;
		top: 0;
		right: 10px;
		content: "\f00d";
	}
	
	label {
		background: $error;
		border-color: $error / 1.1;
	}

	input,
	textarea {
		color: $error;
	}
}
